@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Manage Standard Data Type";
}


<div class="content block">

    <div id="divGrid"></div>




</div>

<script type="text/javascript">
    $(document).ready(function () {
        RefreshStandardDataTypeGrid();
    });

</script>