@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}



<div class="content block">
    @*<h2>Manage Standard Values</h2>

    Manage all of the Standards
    <br />*@
    <div id="divGrid"></div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        RefreshStandardGridStandard();
        highlightNavMenu("View");
        $("#div_PageNameHeader").html("View Standard Tables");
    });

    function RefreshStandardGridStandard() {


        var link = getActionURL("StandardGrid", "Standard");

        $.ajax({
            url: link,
            cache: false,
            async: false,

            success: function (result) {
                $('#divGrid').html(result);
            }
        });

    }

    function ShowStandardViewer(StandardName) {
        var url = getActionURL("Viewer", "Standard") +  '/' + StandardName;
        window.location.replace(url);
    }

</script>
