
@{

    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";

}




<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2" id="div_StatusTitle">
                Manage Patching <small id="div_StatusDescription" class="d-block d-sm-inline-block mt-2 mt-sm-0 font-size-base font-w400 text-muted">  </small>
            </h1>

            @*<ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item">
                    <a class="link-fx" href="@Url.Action("Index", "Home")">Home</a>
                </li>


            </ol>*@


        </div>
        <div class="form-group form-row">

        </div>
    </div>
</div>
<div id="btns_nav">
    <div class="form-group form-row">
        <div class="col-lg-2">
            <button type="button" id="btnPatching" class="form-control btn btn-sm btn-outline-primary" onclick="Javascript:LoadPageBody('_PatchingSchedule', 'SystemStatus', false, 0)"><i class="fa fa-desktop"></i> Patching Calendar</button>
        </div>
        <div class="col-lg-2">
            <button type="button" id="btnCreateSchedule" class="form-control btn btn-sm btn-outline-primary" onclick="@Url.Action("Index", "Manage", new { id = "0" } )"><i class="fa fa-calendar-alt"></i> Add New Schedule</button>
        </div>
        <div class="col-lg-2">
            <button type="button" id="btnk8ssummary" class="form-control btn btn-sm btn-outline-primary" onclick="Javascript:LoadPageBody('_Kubernetes', 'SystemStatus', false, 0)"><i class="fa fa-desktop"></i> Kubernetes</button>
        </div>
    </div>

</div>
        </div>
<div id="pageBody">
  
</div>


<script type="text/javascript">
    jQuery(function ($) {
        //highlightNavMenu("Manage");
        $("#div_PageNameHeader").html("Manage Patching");
        $('#nav_systemstatusparent').addClass('open');

  
        //always redirect to create new
        var redirUrl = getActionURL("Schedule", "Manage");
        window.location = redirUrl;

    });



</script>